doctype html
html(lang="en")
    head
        title Titan Starter Kit
    body
        main
            h1 Titan Starter Kit
            ul
                li Pug
                li Gulp
                li Webpack
                li Typescript (and RxJS)
        footer <!-Footer content-->
        script(src='./js/bundle.js')